header.form--header {
  height: 100vh;
  background-image: url("/assets/Form-Hero-Image.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;

  .container {
    max-width: 1352px;
    margin: 0 auto;

    .navigation__buttons {
      height: 15vh;
      width: 100%;
      position: relative;

      div:first-child {
        margin-top: 1rem;
        position: absolute;
        right: 0;

        span {
          display: inline-table;
          font-size: 13px;
          color: $color4;
          margin-right: 2rem;
          padding: 5px;
          border: 0.75px solid white;

          &:hover {
            border: 0.75px solid $color3;
            cursor: pointer;
          }
        }
      }

      div:last-child {
        margin-top: 2rem;
        position: absolute;
        right: 0;

        ul {
          list-style: none;

          li {
            font-size: 18px;
            display: inline-table;
            cursor: pointer;
            margin-right: 2rem;
            padding: 5px;
            border: 0.75px solid white;

            &:hover {

              border: 0.75px solid $font-color;
            }
            a {
              text-decoration: none;
              color: $font-color;
            }
          }
        }
      }
      .hamburger {
        display: none;
        position: absolute;
        right: 0;
        margin-top: 3rem;
        margin-right: 3rem;
      }
    }
    .form--header__intro {
      min-width: 390px;
      margin-top: 4rem;
      margin-right: 7rem;
      float: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
      p {
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        font-weight: normal;
        letter-spacing: -0.76px;
        &:last-of-type {
          font-weight: lighter;
          letter-spacing: 0;
        }
      }
      img {
        margin: 1rem 0;
      }
      .squares {
        width: 440px;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;

        .square {
          width: 100px;
          height: 100px;
          position: relative;
          h5 {
            margin: 0 0 10px 0;
            font-size: 1.7rem;
            font-weight: lighter;
            text-align: center;
          }
          p {
            font-size: 1rem;
          }
          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border: 0.75px solid $font-color;
            transform: rotate(45deg);
          }
        }
      }
    }

    $ani-speed: 2s;
    $ani-delay: 1s;
    @keyframes arrow-movement {
      0% {
        opacity: 0;
        top: 90%;
      }
      70% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    .arrow {
      height: 50px;
      width: 50px;
      cursor: pointer;
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 93%;
      &:before,
      &:after {
        background: darkred;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
      }
      &:before {
        transform: rotate(45deg) translateX(-23%);
        transform-origin: top left;
      }
      &:after {
        transform: rotate(-45deg) translateX(23%);
        transform-origin: top right;
      }
    }

    .arrow-first {
      animation: arrow-movement $ani-speed ease-in-out infinite;
    }
    .arrow-second {
      animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
    }
  }
}

//FORMHEADER MEDIA

@media screen and (max-width: 800px) {
  header.form--header {
    background-image: none;
    .container {
      .navigation__buttons {
        div:last-child {
          display: none;
        }

        .hamburger {
          display: block;
        }
      }

      .form--header__intro {
        //min-width: 250px;
        margin-right: 60px;

        .buttons {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

.main-form {
  .container {
    max-width: 1352px;
    margin: 0 auto;
    .orange-belt {
      height: 15vh;
      background-color: $color3;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        margin: 0 0 7px 0;
        font-weight: bold;
        color: black;
        font-size: 1.5rem;
      }
      p {
        margin: 0;
      }
    }
    .steps {
      height: 85vh;
      background-image: url("/assets/Background-Form.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding-left: 50px;
      p {
        padding-top: 20px;
        font-weight: lighter;
        margin: 0;
      }
      button {
        font-weight: lighter;
        background-color: transparent;
        border: 0.75px solid $font-color;
        width: 120px;
        height: 45px;
        cursor: pointer;
        margin-left: 15px;
        margin-top: 50px;
      }
      h3 {
         margin-top: 40px;
         font-weight: bold;
       }

      .step-one {

        label {
          font-weight: lighter;
        }
        input {
          margin: 0 20px 20px 0;
        }
      }
      .step-two {
        //@import "settings/reset";
        select {
          margin-bottom: 150px;
          background-color: transparent;
        }
        span {
          font-weight: lighter;
          margin-right: 15px;
        }
      }
      .step-three {
        span {
          padding: 5px 10px;
          border: 1px solid darksalmon;
        }
        select {
          margin-bottom: 30px;
          background-color: transparent;
        }
        input[type=checkbox] {
          visibility: hidden;
          margin-top: 30px;
        }
        input[type=checkbox]:checked + span {
          background-color: darkcyan;
        }
      }
      .step-four {
        .columns {
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;
          .column {
            min-width: 390px;
            label {
              display: inline-block;
            }
            input, textarea {
              width: 100%;
            }
            .col-25 {
              float: left;
              width: 25%;
            }
            .col-75 {
              float: left;
              width: 70%;
            }
            .row {
              margin-top: 6px;
            }
            .row:after{
              content: "";
              display: table;
              clear: both;
            }
          }
        }
      }
      .step-five {
        p {
          margin: 0;
          padding: 0;
        }
        h4 {
          margin: 0;
          padding-top: 30px;
          padding-bottom: 20px;
        }
        .things,
        .localization {
          display: flex;
          justify-content: right;
          align-items: center;

        }
        .columns {
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;

          .column {
            min-width: 390px;

            label {
              display: inline-block;
            }

            input, textarea {
              width: 100%;
            }

            .col-25 {
              float: left;
              width: 25%;
            }

            .col-75 {
              float: left;
              width: 70%;
            }

            .row {
              margin-top: 6px;
            }

            .row:after {
              content: "";
              display: table;
              clear: both;
            }
          }
        }
      }
      .step-six {
        width: 100%;
        .window {
          width: 67%;
          margin-left: 1vw;
          padding-top: 10vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}