
//HEADER

header {
  height: 100vh;
  background-image: url("/assets/Home-Hero-Image.jpg");
  background-position: -25vw;
  background-repeat: no-repeat;
  background-size: contain;

  .container {
    max-width: 1352px;
    margin: 0 auto;

    .navigation__buttons {
      height: 15vh;
      width: 100%;
      position: relative;

      div:first-child {
        margin-top: 1rem;
        position: absolute;
        right: 0;

        span {
          display: inline-table;
          font-size: 13px;
          color: $color4;
          margin-right: 2rem;
          padding: 5px;
          border: 0.75px solid white;

          &:hover {
            border: 0.75px solid $color3;
            cursor: pointer;
          }
        }
      }

      div:last-child {
        margin-top: 2rem;
        position: absolute;
        right: 0;

        ul {
          list-style: none;

          li {
            font-size: 18px;
            display: inline-table;
            cursor: pointer;
            margin-right: 2rem;
            padding: 5px;
            border: 0.75px solid white;

            &:hover {

              border: 0.75px solid $font-color;
            }
          }
        }
      }
      .hamburger {
        display: none;
        position: absolute;
        right: 0;
        margin-top: 3rem;
        margin-right: 3rem;
      }
    }
    .header__intro {
      min-width: 390px;
      margin-top: 4rem;
      margin-right: 7rem;
      float: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
      p {
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
      }
      img {
        margin: 1rem 0;
      }
      .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        div {
          padding: 5px 0;
          text-align: center;
          font-size: 2rem;
          font-weight: lighter;
          width: 45%;
          border: 0.75px solid $font-color;
          min-width: 192px;
          a {
            text-decoration: none;
            color: $font-color;
          }
        }
      }
    }
  }
}

//HEADER MEDIA

@media screen and (max-width: 800px) {
  header {
    background-image: none;
    .container {
      .navigation__buttons {
        div:last-child {
          display: none;
        }

        .hamburger {
          display: block;
        }
      }

      .header__intro {
        min-width: 250px;

        .buttons {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

//THREE COLUMNS

section.threeColumns {
  background-image: url("/assets/3 Columns Background.png");
  .container {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    .box {
      text-align: center;
      width: 20%;
      min-width: 130px;
      h1 {
        font-size: 300%;
        color: $color2;
        font-weight: lighter;
      }
      h3 {
        text-transform: uppercase;
        letter-spacing: -0.36px;
        font-weight: normal;
        text-align: center;
      }
      p {
        letter-spacing: -0.32px;
        font-family: $font-alt;
        font-weight: lighter;
      }
    }
  }
}

//THREE COLUMNS MEDIA

@media screen and (max-width: 650px) {
  section.threeColumns {
    .container {
      flex-direction: column;
      align-items: center;
      .box {
        width: 70%;
      }
    }
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx) {
  .example {
    background-image: url('/assets/3 Columns Background@2x.png');
  }
}

//FOUR STEPS

section.four--steps {
  width: 100%;
  .container {
    max-width: 1350px;
    margin: 0 auto;
    h1 {
      text-align: center;
      font-weight: normal;
    }
    .decoration {
      margin-left: 50%;
      transform: translateX(-50%);
    }
    .steps {
      margin-top: 2rem;
      padding: 2rem 0;
      background-color: $color1;
      display: flex;
      justify-content: space-evenly;
      .step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .line {
          height: 1px;
          width: 50px;
          background-color: indianred;
        }
        h5 {
          text-align: center;
          font-weight: normal;
        }
      }
    }
    .give-away {
      margin: 2rem 0 2rem 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 200px;
      border: 0.75px solid $font-color;
      padding: 5px 0;
      a {
        text-decoration: none;
        color: $font-color;
        h1 {
          font-size: 2rem;
          font-weight: lighter;
          margin: 0;

        }
      }

    }
  }
}

//FOUR STEPS MEDIA

@media screen and (max-width: 650px) {
  section.four--steps {
    .container {
      .steps {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

//ABOUT US

section.about-us {
  .container {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $color1;
      h1 {
        font-weight: normal;
        letter-spacing: -0.76px;
      }
      p {
        width: 60%;
        text-align: center;
        letter-spacing: -0.6px;
        line-height: 2rem;
      }
      img:last-child {
        align-self: flex-end;
        margin-right: 3rem;
      }
    }
    .foto {

      width: 50%;
      background-image: url("/assets/People.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

//ABOUT US MEDIA

@media screen and (max-width: 800px) {
  section.about-us {
    .container {
      flex-direction: column;
      .text {
        width: 100%;
      }
      .foto {
        height: 50%;
        width: 100%;
      }
    }
  }
}

//HELPING

section.helping {
  .container {
    max-width: 1350px;
    margin: 0 auto;
    h1 {
      font-weight: normal;
      letter-spacing: -0.76px;
      text-align: center;
    }
    img {
      margin-left: 50%;
      transform: translateX(-50%);
      margin-bottom: 2rem;
    }
    .who-help {
      display: flex;
      justify-content: center;
      div {
        height: 4rem;
        width: 15%;
        border: 0.75px solid $font-color;
        text-align: center;

      }
      div:nth-child(2) {
        margin: 0 5rem;
      }
    }
    .description {
      width: 30%;
      text-align: center;
      margin: 5rem auto;
    }
    .one-position {
      width: 80%;
      margin: 2rem auto;
      h1 {
        float: left;
        margin: 0;
      }
      p {
        float: right;
      }
      h5 {
        margin: 0;
      }
      .clear {
        clear: both;
      }
    }
    .numbers {
      list-style: none;
      margin-left: 50%;
      //transform: translateX(-50%);
      display: flex;
      padding: 0;
      li {
        background-color: maroon;
        color: white;
        padding: 5px 10px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }
}
